/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

/* Header */

.header-container {
    position: fixed;
    display: flex;
    background-color: #0c1c43;
    top: 0;
    left: 0;
    width: 100%;
    height: 6em;
    align-items: center;
    justify-content: space-between;
}

/*LOGO IZQUIERDO DEL HEADER*/

.header_logo {
    height: 90%;
    margin-left: 2em;
}

.header_logo img,
.header_logo_celular img {
    max-height: 100%;
    width: auto;
}

.header_logo_celular {
    display: none;
}

/*NAV*/

.navbar_container {
    display: flex;
    align-items: center;
    margin-right: 1em;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.navbar_container a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 1.2em 0.5em;
}

.navbar_container a:hover {
    background-color: #003088;
}

.menu-hamburguesa {
    display: none;
}


/* Footer */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 3em;
    padding: 3em;
    background-color: #001e57;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 0.3em;
}

.social-media img {
    width: 2em;
}

/*MEDIA QUERIES*/

@media (max-width: 1000px) {
    .header_input {
        display: flex;
        height: 35%;
        margin-left: 1em;
        align-items: center;
        background-color: white;
        gap: 0.5em;
        padding: 0.2em 0.5em 0.2em 0.5em;
        border-radius: 1em;
    }


    .navbar_container a {
        justify-content: center;
        padding: 0;
    }


    .navbar_container {
        display: flex;
        align-items: center;
        margin-right: 1em;
        font-family: Arial, Helvetica, sans-serif;
        list-style: none;
    }

    .navbar_container a {
        text-decoration: none;
        color: white;
        font-size: 1em;
        padding: 1.2em 0.5em;
    }

    .navbar_container a:hover {
        background-color: #003088;
    }

    .padre {
        flex-direction: column;
    }

    .contact-form,
    .contact-info,
    .map {
        width: 100%;
        padding: 20px;
        border: none;
    }

}


@media (max-width: 800px) {
    .header_e-lorem {
        display: none;
    }

    .nav_bar {
        display: none;
    }

    .menu-hamburguesa {
        font-size: 30px;
        cursor: pointer;
        display: block;
        color: white;
        margin-right: 0.5em;
    }
}


@media (max-width: 600px) {
    .header_e-lorem {
        display: none;
    }

    .nav_bar {
        display: none;
    }

   
    .header_logo_celular {
        display: block;
        height: 70%;
        margin-left: 1em;
    }

    .header_logo_celular img {
        height: 100%;
    }

    .header_logo {
        display: none
    }
}
 /* Estilos para la animación del título */
 .monthly-offers-title {
    margin-top: 100px;
    animation: blink 3s infinite;
    padding: 5px;

}

@keyframes blink {
    0%, 100% { color: #003088; }
    50% { color: rgba(72, 25, 201, 0.719); }
}
.monthly-offers {
    
    text-align: center;
  }
  
  .monthly-offers-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .promo-banners {
    display: flex;
   flex-direction: row;
    justify-content: space-between;
  }
  
  .promo-banner {
    margin: 5px;
    width: 25%;
  }
  .promo-banner img{
    width: 100%;
  }
  
  /* Estilos para pantallas más pequeñas (por ejemplo, cuando el ancho es menor a 768px) */
  @media (max-width: 600px) {
    
    .promo-banners {
      flex-direction: column;
      align-items: center;
    }
  
    .promo-banner {
      flex: none;
      margin: 5px;
      width: 100%;
    }
  }
  
/* Estilos para el carrusel de descuentos */
.discount-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    width: 25%; 
    max-width: 120em;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra opcional */
    overflow: hidden; /* Oculta elementos que desbordan */
    position: relative; /* Añade posición relativa para controlar los elementos internos */
}

.carousel-item {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.carousel-item img {
    width: 100%; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto;
    display: block;
}