* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  background-color: #e0e0e0;
  padding-top: 9em;
}

/* Header */

.header-container {
  position: fixed;
  display: flex;
  background-color: #0c1c43;
  top: 0;
  left: 0;
  width: 100%;
  height: 6em;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  height: 90%;
  margin-left: 2em;
}

.header_logo img {
  height: 100%;
  width: 100%;
}

.header_input {
  display: none;
}

/*logo solo para version celular*/
.header_logo_celular {
  display: none
}

.navbar_container {
  display: flex;
  align-items: center;
  margin-right: 1em;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

.navbar_container a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 1.2em 0.5em;
}

.navbar_container a:hover {
  background-color: #003088;
}

.menu-hamburguesa {
  display: none;
}

.aside {
  width: 20em;
  height: 100%;
  margin: 6em 0;
  background-color: #6f7594;
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 2px;
  align-items: center;
  top: 0;
  right: 0;
  overflow: auto;
  padding: 0 1em 20em 1em;
}

.aside .item {
  margin: 1em 10%;
  color: #fcfcfc;
}

.contenedor-buscador {
  margin: 1.5em;
  display: flex;
  height: 1.6em;
  width: 100%;
  justify-content: center;
  gap: 0.5em;

}


.contenedor-buscador input {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: white;
  gap: 0.5em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 1em;
}

.contenedor-buscador img {
  height: 100%;

}

.total {
  text-transform: uppercase;
  color: white;
  margin: 1em;
  font-size: 20px;
}

.carro-compra {
  height: 4em;
  margin: 0.5em
}

.carrito {
  display: flex
}

footer {
  position: relative;
  bottom: auto;
  left: 0;
  width: 100%;
  margin-top: 3em;
  padding: 3em;
  background-color: #001e57;
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 0.3em;
}

.social-media img {
  width: 2em;
}

.titulo {
  text-align: center;
  margin-right: 10em;
  font-size: 1.8em;
  letter-spacing: 0.05em;
}


.container__cards {
  margin: 3em 19em 3em 0;
  padding: 0 5%;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: auto;
  padding: 10px;
  width: 17em;
  height: 22em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: rgb(221, 221, 221) solid;
  background-color: #f5f5f5;
  padding-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.111);
  border-radius: 5px;
}

.img__producto {
  height: 75%;
  max-width: 100%;
}

.descripcion__producto {
  margin-top: 0.5em;
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}

.botones {
  display: flex;
  justify-content: end;
}


button {
  display: flex;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #004d9f;
}

.botones__img {
  height: 2em;
  display: inline-block;
}
.carrito1000 {
  display: none;
  position: fixed;
  top: 97px;
  left: 0;
  background-color: none;
  padding: 5px;
  width: 400px;

}
.carrito1000 img{
  width: 50%;
}

#toggleCartButton {
  background: none;
  border: none;
  cursor: pointer;
}

.carrito-dropdown {
  font-size: 1em;
  color: #0c1c43;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.carrito.active .carrito-dropdown {
  display: block;
}

/*MEDIA QUERIES*/

@media (max-width: 1000px) {
  .titulo {
    margin-right: 0;
    text-align: center;
  }

  .container__cards {
    margin: 3em 0;
  }

  .header_input {
    display: flex;
    height: 35%;
    margin-left: 1em;
    align-items: center;
    background-color: white;
    gap: 0.5em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 1em;
  }

  .header_input img {
    height: 100%;

  }

  .header_input input {
    height: 100%;
    width: 12em;
    border-radius: 1em;
    padding-left: 1em;
  }


  .header_e-lorem {
    display: none;
  }

  .navbar_container a {
    justify-content: center;
    padding: 0;
  }


  .aside {
    display: none;
  }

  .navbar_container {
    display: flex;
    align-items: center;
    margin-right: 1em;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
  }

  .navbar_container a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 1.2em 0.5em;
  }

  .navbar_container a:hover {
    background-color: #003088;
  }

  .contenido {
    text-align: justify;
    margin: 9em 3em 5em 3em;
  }
/* Estilos para el carrito y su contenido */
.carrito1000 {
  display: block;
}

}


@media (max-width: 800px) {

  .header_e-lorem {
    display: none;
  }
/*desde aca el cambio*/
  .nav_bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -1em;
    top:80px;
    width: 15em;
    height: 220px;
    background-color: #0c1c43;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    padding: 0.5em;
    
  }
.nav_bar.active{
  opacity: 1;
  pointer-events: all;
}
.nav_bar ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.nav_bar ul li{
  margin-bottom: 1em;
}
.nav_bar a{
  padding: 0.5em;
  font-size: 2em;
  
}
  .menu-hamburguesa {
    font-size: 30px;
    cursor: pointer;
    display: block;
    color: white;
    margin-right: 0.5em;
    flex-direction: column;
    position: relative;
  }

  .contenido {
    border: 5px;
  }
}


@media (max-width: 800px) {
  .header_e-lorem {
    display: flex;
  }

  .menu-hamburguesa {
    font-size: 30px;
    cursor: pointer;
    display: block;
    color: white;
    margin-right: 0.5em;
position: relative;  }

  .header_logo_celular {
    display: block;
    height: 70%;
    margin-left: 1em;
  }

  .header_logo_celular img {
    height: 100%;
  }

  .header_logo {
    display: none
  }
}